certifi==2017.11.5
chardet==3.0.4
Django==2.2.13
django-filter==1.1.0
djangorestframework==3.7.3
djangorestframework-jwt==1.11.0
dynamic-rest==1.6.7
idna==2.6
inflection==0.3.1
numpy==1.14.0
psycopg2==2.7.3.2
PyJWT==1.5.3
pytz==2017.3
requests==2.18.4
six==1.11.0
urllib3==1.22
